.schedule-main {
    display: flex;
    flex-direction: column;
}

.app-schedule {
    display: grid;
    grid-template-columns: 260px 1fr;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

.calendar-container {
    flex: 1;
    width: 100%;
    background: white;
    border-radius: 16px;
    padding: 1rem;
}

.schedule-form {
    background: #e8e0e0;
    border-radius: 16px;
    padding: 2rem;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: fit-content;
}

.schedule-form h3 {
    font-size: 1.2rem;
    margin: 0;
}

.schedule-row {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.schedule-row label {
    font-size: 1rem;
    font-weight: bold;
}

.schedule-input {
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none;
    font-size: 1rem;
    padding: 0.3rem;;
    width: 100%;
}

.schedule-btn {
    background: #dcd0f5;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}

.schedule-btn:hover {
    opacity: 0.8;
}

.schedule-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.schedule-list h3 {
    font-size: 1.2rem;
    margin: 0;
}

.schedule-tabs {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.schedule-tabs button {
    background: #dcd0f5;
    border: none;
    padding: 0.75rem;
    border-radius: 8px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    letter-spacing: 1px;
    margin-top: 0.5rem;
}

.meeting-card {
    background: white;
    border-radius: 12px;
    padding: 1.2rem 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.meeting-info h4 {
    margin: 0 0 0.3rem 0;
    font-size: 1.1rem;
}

.meeting-info p {
    margin: 0;
    color: #555;
    font-size: 0.95rem;
}

.meeting-notify {
    color: #9b8ec4;
    margin-top: 0.3rem;
}